<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
  </runtime>
  <appSettings>
    <!-- Default configuration values - override with config.yaml -->
    <add key="HostId" value="" />
    <add key="HostToken" value="" />
    <add key="Port" value="8443" />
    <add key="DefaultShell" value="powershell" />
    <add key="LogLevel" value="Information" />
    <add key="AutoRegisterDevices" value="true" />
  </appSettings>
</configuration>